.infoBar {
  display: flex;
  border-bottom: solid 0.08px #666;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoBar .item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.infoBar .item .icon {
  font-size: 20px;
  color: #777
}

.infoBar .item .item-title{
  font-weight: bold;
  font-size: 13.5px;
  color: #777;
  margin-left: 5px;
}