.list-container {
  display: flex;
  flex-direction: column;
}


  .list-container .repo-container {
    display: grid;
    padding: 20px 0;
    border-bottom: 1px solid #DDD;
    grid-template-columns: 3fr 1fr;
  }

  .list-container .repo-container .repo-left {
    display: flex;
    flex-direction: column;
  }

  .list-container .repo-container .repo-left .repo-title {
    color: #0366D6;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .list-container .repo-container .repo-left .repo-title:hover {
    text-decoration: underline;
  }

  .list-container .repo-container .repo-left .repo-description {
    color: #555;
    font-size: 15px;
  }

  .list-container .repo-container .repo-left .repo-footer {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-top: 20px;
  }

  .list-container .repo-container .repo-left .repo-footer .repo-language-container {
    display: flex;
    align-items: center;
  }

  .list-container .repo-container .repo-left .repo-footer .repo-language-container .repo-language {
    color: #555;
    font-size: 14px;
    margin-right: 10px;
  }

  .list-container .repo-container .repo-left .repo-footer .repo-language-container .repo-language-icon {
    font-size: 14px;
    margin-right: 3px;
  }

  .list-container .repo-container .repo-left .repo-footer .repo-updated {
    color: #555;
    font-size: 13px;
  }

